<!DOCTYPE html>
<html>
{% load static %}
<head>
    <title>Intix Map</title>
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Подключение стилей -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-draw@1.0.4/dist/leaflet.draw.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.72.0/L.Control.Locate.min.css" /> -->

    <!-- Подключение библиотек Leaflet и других скриптов -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-omnivore@0.3.4/leaflet-omnivore.min.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tokml@0.4.0/tokml.min.js"></script>
    <script src="{% static 'js/leaflet.draw.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.72.0/L.Control.Locate.min.js"></script>    -->
</body>
</head>
<body>
    <div id="map"></div>
    <div id="fullscreen">
        <img id="fullscreen-img" src="" />
    </div>
    <script>
        var logoutUrl = "{% url 'logout' %}";
        var isMobile = /iPhone|iPad|iPod|Android/i.test(navigator.userAgent);
        if (!isMobile) {
            document.write('<input type="file" id="upload" accept=".kml" />');
        }
    </script>
    <!-- Подключение файла с настройками панелей -->
    <script src="{% static 'js/panesConfig.js' %}"></script>
  
    <!-- Подключение файла с настройками WFS слоя -->
    <script src="{% static 'js/wfs_layer_zone.js' %}"></script>

    <!-- Подключение файла со стилями зон -->
    <script src="{% static 'js/styles_zone.js' %}"></script>

    <!-- Подключение файла с скриптами карты -->
    <script src="{% static 'js/map.js' %}"></script>
    
    <!-- Подключение файла со скриптом рисования -->
    <script src="{% static 'js/draw_to_kml.js' %}"></script>

    <!-- Подключение файла со скриптом загрузки KML -->
    <script src="{% static 'js/upload_kml.js' %}"></script>
</body>
</html>
